.hero {
   min-height: 100vh;
   background: linear-gradient(to top, rgb(11, 19, 36), rgba(66, 67, 148, 1));
}

.intro {
   font-size: 6rem;
   color: white;
}

.name {
   font-size: 8rem;
   font-weight: 400;
   color: rgb(214, 202, 38);
}

.dev {
   color: white;
   font-weight: 300;
   font-size: 2.2rem;
   padding-left: 50%;
}

.hire-about {
   display: flex;
   justify-content: flex-start;
}

.hire {
   background-color: rgb(214, 202, 38) !important;
   color: black !important;
   border-color: rgb(214, 202, 38) !important;
}

.portfolio-hero {
   padding-top: 8%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
}

.profile-image {
   height: 600px;
   width: auto;
}

// for mobile responsiveness

@media only screen and (max-width: 768px) {
   .name {
      font-size: 2rem;
      font-weight: 200;
      color: rgb(214, 202, 38);
   }
}
@media only screen and (max-width: 576px) {
   .name {
      font-size: 2rem;
      font-weight: 100;
      color: rgb(214, 202, 38);
   }
}
