.contact{
    background: linear-gradient(to top, rgb(11, 19, 36),rgba(66, 67, 148, 1));
    height:85vh;
}

.ContactLists{
    margin: 2rem auto 2rem auto;
}

.ContactLists a{
    color:rgb(116, 116, 173);
    text-decoration: none;
}

.ContactLists i{
    font-size: 2rem;
}

.handlers{
    margin-left: 0.3rem;
}