.contact {
   background: linear-gradient(to top, rgb(11, 19, 36), rgba(66, 67, 148, 1));
   min-height: 100vh;
}

.ContactLists {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.ContactLists a {
   color: white;
   text-decoration: none;
}
.ContactLists a:hover {
   color: rgb(214, 202, 38);
}

.ContactLists i {
   font-size: 2rem;
}

.handlers {
   margin-left: 0.6rem;
   color: rgb(214, 202, 38);
   font-size: 2rem;
}

.form-title {
   color: rgb(214, 202, 38);
}

.textheader {
   font-size: 39px;
   color: rgb(226, 233, 222);

   text-align: center;
   font-weight: 600;
}

.lists-of-contacts {
   list-style: none !important;
   font-size: 3rem;
   margin-left: 6rem;
   margin-top: 2rem;
}

.lists-of-contacts a {
   text-decoration: none;
   color: white;
   align-items: center;
}

.contacts-handlers {
   min-width: 300px;
   display: flex;
   flex-basis: auto;
   flex-direction: column;
   align-items: center;
}
