.projects {
   background: linear-gradient(to top, rgb(11, 19, 36), rgba(66, 67, 148, 1));
   min-height: 100vh;
   color: white;
}

a {
   text-decoration: none;
   color: white !important;
}

.myprojectlists {
   /* padding: 1rem; */
}

.info .info-title {
   font-size: 2.5rem !important;
   color: rgb(214, 202, 38) !important;
}

.info .tech {
   color: rgb(184, 171, 153);
}

.info p {
   font-size: 1.5rem;
   font-style: Helvetica !important;
   color: rgb(183, 186, 177);
}

.myprojectlists .pro-img {
   padding-top: 2rem;
}

.info .links {
   font-size: 2rem !important;
   color: rgb(226, 248, 249);
}
